* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    box-sizing: border-box;
  }
  

/* Header Component --------------------------------------------------------------------------------------------------------------- */

#headerContainer{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2rem 1rem -2rem rgb(0 0 0 / 10%);
}

#headerLeft{
    display: flex;
    align-items: center;
    width: 33.3%;
    text-decoration: none;
    color: black;
}

#logo{
    height: 8vh;
    margin-left: 1rem;
    margin-right: 1rem;
}

#headerName{
    font-size: 1rem;
    text-decoration: none;
    color: black;
}
#headerName:hover{
    font-weight: bold;
}

#headerMiddle{
   display: flex;
   justify-content: space-between;
   width: 33.3%;
   text-decoration: none;
}
#headerMiddle a {
    text-decoration: none;
    color: black;
}
#headerMiddle a:hover {
    font-weight: bold;
}

.headerLinks{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

#headerCenter{
}

#headerRight{
    display: flex;
    flex-direction: column;
    width: 33.3%;
    align-items: flex-end;
}

#headerRightPhone{
    margin-top: .5rem;
    margin-right: 1.5rem;
}

.headerLinksRight{
    text-decoration: none;
    color: black;
    margin-right: 1rem;
}




/* Events Page (Plural)----------------------------------------------------------------------------------------------- */
#eventsPage{
    width: 100vw;
    text-align: center;
    background-color: #f3f3f3;
    min-height: 90vh;
}

#conatinerPictureTitle{
    /* height: 5rem; */
    height: 2rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#eventImg{
    height: 5rem;
}

#eventsPageTitle{
    padding-top: 2.5rem;
    font-size: 3rem;
}

#postDate{
    margin-top: .5rem;
    margin-left: 1rem;
    color: gray;
}

#postContainer{
    display: flex;
    justify-content: center;
    line-height: 1.5rem;

}

#innerPost{
    display: flex;
    flex-direction: column;
    width: 70vw;
    background: white;
    padding: 0rem 2rem 0 2rem;
    margin-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-radius: 1rem 1rem;
}   
#postImgContaiener{
    background: wheat;
    width: 20rem;
}

#postTitle{
    font-size: 3rem;
    /* margin-bottom: 1rem; */
}

#postD{
    /* margin-top: 2rem; */
    white-space: pre-wrap;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#eventButton{
    padding: .5rem 1rem .5rem 1rem;
    background: #1EAB86;
    border-radius: .5rem;
    text-decoration: none;
    color: white;
}



/* Event Page ------------------------------------------------------------------------------- */
#eventPage{
    margin-top: 2rem;
    margin-left: 20vw;
    margin-right: 20vw;

}

#eventTitle{
    font-size: 3rem;
    text-align: center;
}

#eventDate{
    text-align: center;
}
#eventBody{
    margin-top: 1rem;
    white-space: pre-wrap;
}



#eventFormContainer{
    margin-top: 2.5rem;
    display: flex; 
    align-items: center;
    flex-direction: column;
    /* background: rgb(226, 226, 226); */
}

#eventFormInner{
    display: flex;
    /* border: 1px solid red; */
}

#formInput{
    padding: .5rem 1rem .5rem 1rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
}

#formInput:focus{
    outline-width: 0;
}


#eventFormInner label{
    text-align: start;
}

#eventFormInner button{
    margin-top: 1rem;
    padding: 1rem;
}

#formRight{
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: flex-end;
    /* flex-direction: column; */
    margin-left: 2rem;
}

#eventFormContainer button{
    width: 43rem;
    padding: 1rem;
    border: none;
    color: white;
    background-color: #1EAB86;
    border-radius: .5rem;
}
