


* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

    box-sizing: border-box;
  }
  

/* Shared Styling ----------------------------------------------------------------------------------------------------------------- */



/* Header Component --------------------------------------------------------------------------------------------------------------- */

#headerContainer{
    height: 6rem;
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 2rem 1rem -2rem rgb(0 0 0 / 10%); */
    position: fixed;
    width: 100vw;
    /* background: #659dbd;
    background: #274659;
    background: white; */

    z-index: 2;
}

#headerLeft{
    display: flex;
    align-items: center;
    width: 33.3%;
    text-decoration: none;

}

#logo{
    height: 8vh;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
}

#headerName{
    font-size: 1rem;
    text-decoration: none;
    color: #222222;
    color: white;
    font-weight: bold;
}
#headerName:hover{
    font-weight: bold;
}

#headerMiddle{
   display: flex;
   justify-content: space-between;
   width: 33.3%;
   text-decoration: none;
   font-weight: bold;
}
#headerMiddle a {
    text-decoration: none;
    color: #222222;
    color: white;
}
#headerMiddle a:hover {
    font-weight: bold;
}

#headerCenter{
}

#headerRight{
    display: flex;
    flex-direction: column;
    width: 33.3%;
    align-items: flex-end;
}

#headerRightPhone{
    margin-top: .5rem;
    margin-right: 1.5rem;
    padding: .5rem;
    font-weight: bold;
    color: #222222;
    color: white;
}

#headerRightPhone p{

    padding: .2rem;
}



#headerContainerMobile{
    display: none;
}

#mobileDropDownMenu{
    display: none;
}

/* Landing Body ---------------------------------------------------------------------------------------------------------- */

#landingContainerSpace{
    height:100vh;
    width: 100VW;
}

#landingContainer{
    position: fixed;
    height: 100vh;
    width: 100VW;
    top: 0vh;
    background: url("./nature4.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 5rem;
    margin-bottom: 90vh;
}
#landingTextContainer{
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vw;
}

#landingName{
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#landingLicensed{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold
}

#landingAbout{
    font-size: 1.5rem;
    border: none;
    padding: .3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: .2rem .2rem .2rem .2rem;
    text-decoration: none;
    color: white;

    font-weight: bold;
    border: 1px solid white;
}

#landingAbout:hover{
    background: rgba(0, 0, 0, 0.10);    
    color: white;
}


/* About section ----------------------------------------------------------------------------------------------------- */


#aboutPage{
    background: white;
    height: 100vh;
    position: relative;
    z-index: 2;
    /* display: none; */
}


#aboutPageContextArea{
    display: flex;
    margin-left: 15vw;
    margin-right: 15vw;
}

#aboutPageTitle{
    padding-top: 10rem;
    position: relative;
    z-index: 5;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 3rem;
    color: #3b945e;
}
#aboutLeft{
    width: 49%;
    margin-right: 1%;

}

#aboutRight{
    display: flex;
    width: 49%;
    margin-left: 1%;
    margin-top: 3rem;
    opacity: 0;
}

#MonikaAboutImg{
    opacity: 0;
    height: 30rem;
}


/* Events Page (Plural)----------------------------------------------------------------------------------------------- */
#eventsPage{
    width: 100vw;
    padding-top: 6rem;
    text-align: center;
    background-color: #fbeec1;
    background: #205373;
    /* background-color: lightgreen; */
}

#eventsPageBanner{
    height: 40rem;
    position: relative;
    top: -6rem;
    background: url("./nature3_edit.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}

#eventsPageBannerText{
    color: white;
    font-size: 5rem;
}
#eventsCard{
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 0;

}

#eventsCard:hover{
    opacity: .9;
}

#postContainer{
    display: flex;
    justify-content: center;
}

#innerPost{
    width: 40rem;
    background: #205373;
    padding: 0rem 2rem 0 2rem;
    /* margin-top: 2.5rem; */
    color: white;
    /* background: #205373; */
    border: 2px solid white;
    border-left: none;
    border-radius: 0 .5rem .5rem 0 ;
}  

#conatinerPictureTitle{
    align-items: center;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

#postTitle{
    font-size: 3rem;
    text-align: start;
    line-height:normal;
}

#eventImg{
    border-radius: 1rem 0 0 1rem;
    height: 20rem;
    /* width: 70%; */
    width: 30rem;
    object-fit: cover;
    border: 2px solid white;
    border-right: none ;
}

/* #eventsPageTitle{
    padding-top: 2.5rem;
    font-size: 3rem;
} */

#emphasize{
    font-weight: bold;
    width: 5rem;
    text-align: start;
    margin-right: 1rem;
}

#dateLocation{
    display: flex;
    margin-top: .5rem;
}
 
#postImgContaiener{
    background: wheat;
    width: 20rem;
}


#postD{

    white-space: pre-wrap;
    text-align: start;
    margin-bottom: 2rem;
    margin-top: .5rem;
    margin-top: 2rem;
}

#eventButton{
    padding: 1rem 2rem 1rem 2rem;

    background: #1EAB86;
    border-radius: .5rem;
    text-decoration: none;
    color: white;
    width: 50rem;

}
#eventButton:hover{
    opacity: .8;
}


/* Event Page ------------------------------------------------------------------------------- */
#eventPage{
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#innerPostEvent{
    padding-top: 6rem;
    width: 60vw;
}

#eventPageBackBtn{
    position: absolute;
    left: 5rem;
    color: black;
    text-decoration: none;
}


#eventFormContainer{

    margin-left: 2rem;
}

#eventFormInner{
    display: flex;
    /* border: 1px solid red; */
}

#eventFormRight{
    margin-left: 1rem;
}

#formInput{
    padding: .5rem 1rem .5rem 1rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
}

#formInput:focus{
    outline-width: 0;
}


#eventFormInner label{
    text-align: start;
}

#eventFormInner button{
    margin-top: 1rem;
    padding: 1rem;
}

#eventFormContainer button{


    padding: 1rem;
    width: 42rem;
    border: none;
    color: white;
    background-color: rgb(30, 171, 134);
    border-radius: .5rem;

}

#currentEvents{
    position: fixed;
    display: flex;
    display: none;
    flex-direction: column;
    top: 8.5rem;
    max-width: 18rem;
    /* left: 6rem; */
    text-align: start;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    /* border-top: .5px solid rgba(0, 0, 0, 0.384); */
    background: white;
    border-radius:  0 .5rem .5rem 0 ;
    padding-left: 1rem;
    /* margin-right: 1rem; */
}

#currentEventsHeader{
    font-size: 2rem;
    /* border-bottom: 1px solid black; */
    margin-left: 1rem;
}
.currentEventsTitle{
    margin-top: .5rem;
    text-decoration: none;
    color: rgb(17, 17, 17) ;
    margin-left: 1rem;
    
}

.currentEventsTitle:hover{
    opacity: .8;
}

/* Footer ------------------------------------------------------------------------------------------------------- */
#footer{
    position: relative;
    height: 5rem;
    background-color: #1EAB86; 
    /* display: none; */
}


@media (max-width: 1450px) {
    #currentEvents{
        max-width: 12rem;
    }
}



@media (max-width: 1000px) {
    
    /* Header ---------------------------------------------------------------------------------------------------- */
    #headerContainer{
        display: none;
    }
    #headerContainerMobile{
        display: block;
        display: flex;
        align-items: center;
        height: 5rem;

    }
    #headerLeftMobile{
        height: 5rem;
        width: 20%;
    }
    #logoMobile{
        height: 100%;
    }

    #headerMiddleMobile{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 5rem;
        width: 70%;
    }

    #headerNameMobile{
        height: 5rem;
        text-decoration: none;
        font-size: 1.5rem;
        color: black;

    }

    #headerRightMobile{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10%;
        height: 5rem;
    }

    #mobileDropDownMenu{
        position: absolute;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        top: 5rem;
        z-index: 2;
        height: 2.5rem;
        width: 100%;
        background: white;
    }

    #mobileDropDownLinks{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .7rem;
        justify-content: space-between;
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #mobileDropDownLinks a{
        text-decoration: none;
        color: black;
    }

    /* Events Page ------------------------------------------------------------------------------------------------*/
    #currentEvents{
        display: none;
    }
    #innerPost{
        width: 90%;
    }
    #postTitle{
        font-size: 2rem;
    }
    #postContainer{
        padding-top: 1rem;
    }
}