{% extends 'home.html' %}

{% block about %}
    <div id="aboutPage">
        <p id="aboutPageTitle">ABOUT MONIKA</p>
        <div id="aboutPageContextArea"> 
            <div id="aboutLeft">
                <img id ="MonikaAboutImg" src='../static/natureapp/MonikaHeadshot.jpg'></img>
            </div>
            <div id="aboutRight">
                <p>Monika likes cats SLDKFSDLFK Sflknfsdlkf asdlf sad;fl nasf asd;lf kajsdf l;as a;jfsadasfsadf ksadkfsadf saf asdk;f hsadkjfhd skjfhasdkf sadkf jasdkfj hasdkf hasdk;f hasdkfj asdkf jasd kfjas dfk;jas df ;ksajd</p>
            </div>
        </div>             
    </div>
{% endblock about %}
