{% extends 'home.html' %}

{% block events %}

    <div id="eventsPage">
        {% comment %} <p id="eventsPageTitle">UPCOMING EVENTS</p> {% endcomment %}
        {% for post in object_list %}
            <section id="id{{post.id}}"></section>
            <div id="postContainer">
                <div id="innerPost">

                    {% load static %} 
                  
                    <div id="conatinerPictureTitle">
                        <p id="postTitle">{{ post.title }} </p> 
                        
                        <div id="dateLocation"> 
                            <p id="emphasize">Location: </p><p id="">{{ post.location }}</p>
                        </div>
                        <div id="dateLocation">
                            <p id="emphasize">Date: </p><p id="">{{ post.event_date }}</p>
                        </div>
                    </div>

                    <p id="emphasize">About: </p><p id="postD">{{ post.summary }}</p>
                    <img id="eventImg" src="{{ post.image.url }}">
                    <br>
                    <a  id="eventButton" href="{% url 'event_details' post.pk %}">
                        SIGN UP
                    </a>
                    {% comment %} <button v-on:click="popOutForm()">Submit</button> {% endcomment %}
                </div>
            
            </div>


        {% endfor %}
            <div id="currentEvents">
                <p id="currentEventsHeader">EVENTS</p>
                {% for post in object_list %}
    
                        {% comment %} <a class="currentEventsTitle" id="section{{forloop.counter0}}" v-on:click="currentSection({{ post.id }}, {{ forloop.counter0 }})" href="#id{{post.id}}" v-smooth-scroll>{{ post.title }}</a> {% endcomment %}
                        <a class="currentEventsTitle" id="section{{forloop.counter0}}" href="#id{{post.id}}" v-smooth-scroll>{{ post.title }}</a>
                {% endfor %}
            </div>
            <div id='cat'>cat</div>
    </div>
{% endblock events %}