{% extends 'home.html' %}

{% block events %}

    <div id="eventsPage">
        <p id="eventsPageTitle">UPCOMING EVENTS</p>
        {% for post in object_list %}
            <div id="postContainer">
                <div id="innerPost">

                    {% load static %} 
                    <div>
                        <div id="conatinerPictureTitle">
                           <img id="eventImg" src="{{ post.image.url }}">
                            <p id="postTitle">{{ post.title }} </p> 
                            <p id="postDate">{{ post.event_date }}</p>
                        </div>
                        <p id="postD">{{ post.summary }}</p>
                     
                        <a  id="eventButton" href="{% url 'event_details' post.pk %}">
                        SIGN UP
                        
                        </a>
                        {% comment %} <button v-on:click="popOutForm()">Submit</button> {% endcomment %}
                       
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock events %}