{% extends 'home.html' %}


{% block event_details %}
    <div id="eventPage">
        <p id="eventTitle">{{ post.title }} </p> 
        <p id="eventDate">{{ post.event_date }}</p>
        <p id="eventBody">{{ post.body }}</p>
        <form id='eventFormContainer'>
            <div id='eventFormInner'>
                <div>
                    <label id="formLabel">FIRST NAME</label>
                    <br>
                    <input id="formInput"></input>
                    <br>
                    <label id="formLabel">LAST NAME</label>
                    <br>
                    <input id="formInput"></input>
                    <br>
                    <label id="formLabel">EMAIL</label>
                    <br>
                    <input id="formInput" type="email"></input>
                    <br>
                    <label id="formLabel">PHONE</label>
                    <br>
                    <input id="formInput" type='tel'></input>
                </div>
                <div id="formRight">
                    <label id="formLabel">EVENT NAME</label>
               
                    <input id="formInput" type='tel' value="{{ post.title }}" disabled></input>
                 
                    <label id="formLabel">DATE</label>
               
                    <input id="formInput" type='tel' value="{{ post.event_date }}" disabled></input>
                </div>
            </div>
            {% comment %} <div id="formRight">
                <label id="formLabel">EVENT</label>
                <input id="formInput" type='tel' value="{{ post.title }}" disabled></input>
                <label id="formLabel">DATE</label>
                <input id="formInput" type='tel' value="{{ post.event_date }}" disabled></input>
            </div> {% endcomment %}
            <button type="submit">SUBMIT</button>
        </form>             
    </div>
{% endblock event_details %}
