{% extends 'home.html' %}

{% block events %}
    <div id="eventsPage">
        <p id="eventsPageTitle">UPCOMING EVENTS</p>
        {% for post in object_list %}
            <div id="postContainer">
                <div id="innerPost">
                    {% comment %} <div id="postImgContaiener">  {% endcomment %}
                    {% load static %} 
                    {% comment %} <img src="{% static "natureapp/media/cat.jpg" %}"></div> {% endcomment %}
                    <div>
                        <div id="conatinerPictureTitle">
                           <img id="eventImg" src="{% static "natureapp/media/cat.jpg" %}">
                            <p id="postTitle">{{ post.title }} </p> 
                            <p>{{ post.event_date }}</p>
                        </div>
                        
                        <p id="postD">{{ post.body }}</p>
                    
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock events %}