{% extends 'home.html' %}


{% block event_details %}



    <div id="eventPage">
        <a id="eventPageBackBtn" href="{% url 'events' %}">BACK</a>
        <div id="innerPost">
            {% load static %} 
            <div id="conatinerPictureTitle">
                <p id="postTitle">{{ post.title }} </p> 
                
                <div id="dateLocation"> 
                    <p id="emphasize">Location: </p><p id="">{{ post.location }}</p>
                </div>
                <div id="dateLocation">
                    <p id="emphasize">Date: </p><p id="">{{ post.event_date }}</p>
                </div>
            </div>
    
            <p id="emphasize">About: </p><p id="postD">{{ post.body }}</p>
        </div>


        <form id='eventFormContainer'>
            <div id='eventFormInner'>
                <div>
                    <label id="formLabel">FIRST NAME</label>
                    <br>
                    <input id="formInput"></input>
                    <br>
                    <label id="formLabel">LAST NAME</label>
                    <br>
                    <input id="formInput"></input>
                </div>
                <div id="eventFormRight">
                    <label id="formLabel">EMAIL</label>
                    <br>
                    <input id="formInput" type="email"></input>
                    <br>
                    <label id="formLabel">PHONE</label>
                    <br>
                    <input id="formInput" type='tel'></input>
                </div>
            </div>
               
                {% comment %} <div id="formRight">
                    <label id="formLabel">EVENT NAME</label>
               
                    <input id="formInput" type='tel' value="{{ post.title }}" disabled></input>
                 
                    <label id="formLabel">DATE</label>
               
                    <input id="formInput" type='tel' value="{{ post.event_date }}" disabled></input>
                </div> {% endcomment %}
            {% comment %} <div id="formRight">
                <label id="formLabel">EVENT</label>
                <input id="formInput" type='tel' value="{{ post.title }}" disabled></input>
                <label id="formLabel">DATE</label>
                <input id="formInput" type='tel' value="{{ post.event_date }}" disabled></input>
            </div> {% endcomment %}
            <br>
            <button type="submit">SUBMIT</button>
        </form>             
    </div>
{% endblock event_details %}
