{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'natureapp/main.css' %}">
    <title>Document</title>
</head>

<body>
    <div id="app">

        {% comment %} HEADER SECTION {% endcomment %}
        <div id="headerContainer">
            <div id="headerLeft">
                <a href="{% url 'home' %}"><img id="logo" src='../static/natureapp/logoEdit.png'></a>
                <a id="headerName" href="{% url 'home' %}">NATURE TO THRIVE</a>         
            </div>
            <div id="headerMiddle">
                <a href="{% url 'events' %}">EVENTS</a>
                <a href="{% url 'about' %}">OUTDOOR-ECOTHERAPY</a>
                <a href="{% url 'about' %}">PSYCHOTHERAPY</a>
                <a href="{% url 'about' %}">ABOUT</a>
            </div>
            <div id="headerRight">
                <div id="headerRightPhone">
                    <p>(503) 964-9999</p>
                    <p>monikatippie@gmail.com</p>
                </div>
            </div>
        </div>

        {% comment %} HEADER MOBILE {% endcomment %}
        <div id="headerContainerMobile">
     
            <div id="headerLeftMobile">
                <a href="{% url 'home' %}"><img id="logoMobile" src='../static/natureapp/logoEdit.png'></a>
            </div>
            <div id="headerMiddleMobile">
                <div><a id="headerNameMobile" href="{% url 'home' %}">NATURE TO THRIVE</a></div>
    
            </div>
            <div @click="mobileDropDownBtn()" id="headerRightMobile">
                X
            </div>

            <div id="mobileDropDownMenu">
                <div id="mobileDropDownLinks">
                    <a href="{% url 'events' %}">EVENTS</a>
                    <a href="{% url 'about' %}">OUTDOOR-ECOTHERAPY</a>
                    <a href="{% url 'about' %}">PSYCHOTHERAPY</a>
                    <a href="{% url 'about' %}">ABOUT</a>
                </div>
            </div>

            {% comment %} <div >
                <a href="{% url 'events' %}">EVENTS</a>
                <a href="{% url 'about' %}">OUTDOOR-ECOTHERAPY</a>
                <a href="{% url 'about' %}">PSYCHOTHERAPY</a>
                <a href="{% url 'about' %}">ABOUT</a>
            </div>
            <div >
                <div >
                    <p>(503) 964-9999</p>
                    <p>monikatippie@gmail.com</p>
                </div>
            </div> {% endcomment %}
        </div>

        {% if request.path == '/' %}
            <div id="landingContainerSpace"></div>
            <div id="landingContainer">
                <div id="landingTextContainer">
                    <p id="landingName">NATURE TO THRIVE</p>
                    <p id="landingLicensed">LICENSED ECOTHERAP</p>
                    <p @click="gsap1()" id="landingAbout">
                        ABOUT MONIKA
                    </p>
                </div>
            </div>
            <div id="aboutPage">
                <p  id="aboutPageTitle">ABOUT MONIKA</p>
                <div id="aboutPageContextArea"> 
                    <div id="aboutLeft">
                        <img id="MonikaAboutImg" src='../static/natureapp/MonikaHeadshot.jpg'></img>
                    </div>
                    <div id="aboutRight">
                        <p>Monika likes cats SLDKFSDLFK Sflknfsdlkf asdlf sad;fl nasf asd;lf kajsdf l;as a;jfsadasfsadf ksadkfsadf saf asdk;f hsadkjfhd skjfhasdkf sadkf jasdkfj hasdkf hasdk;f hasdkfj asdkf jasd kfjas dfk;jas df ;ksajd</p>
                    </div>
                </div>             
            </div>
  

        {% endif %}

        {% block about %}
        {% endblock %}
        
        {% block events %}
        {% endblock %}

        {% block event_details %}
        {% endblock %}

        {% comment %} FOOTER SECTION{% endcomment %}
        <div id='footer'>
            <p>@ 2021 Nature To Thrive</p>
            <p>Monika Tippie</p>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
        
    <script src="https://cdn.jsdelivr.net/npm/vue2-smooth-scroll@1.5.1/dist/vue-smooth-scroll.min.js"></script>

    
    <script>
        gsap.registerPlugin(ScrollTrigger);
        let cat = document.getElementById('cat')
        let app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',

            data: {
                formOpen: true,
                sayHi: 'Hello from Vue!',
            },
            methods: {
                Home: function() {
                    document.getElementById('home').style.color = 'red'
                },
                log: function() {
                    // alert('Lisa sucks at life')
                },
                popOutForm: function() {

                    if (this.formOpen){
                        document.getElementById('popOutForm').style.display = 'block'
                        document.getElementById('formForegroundBlurr').style.display = 'block'
                        document.getElementById('eventsPage').style.position = 'fixed'
                        this.formOpen = false
                    }
                    else {
                        document.getElementById('popOutForm').style.display = 'none' 
                        document.getElementById('formForegroundBlurr').style.display = 'none'
                        document.getElementById('eventsPage').style.position = 'static'
                        this.formOpen = true
                    }
                    // gsap.to('#popOutForm', {color: 'red'}) 
                },
                scrollTo: function(id) {
                    document.getElementById('headerName').style.color = 'red'
                    console.log('yeet')
                },
                isInViewport: function(ele) {
                    console.log(ele, 'you made it')
                    const rect = ele.getBoundingClientRect();
                    console.log(rect)
                    return (
                        rect.top >= 0 &&
                        rect.left >= 0 &&
                        rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                        rect.right <= (window.innerWidth || document.documentElement.clientWidth)
                    );
                },
                gsap1: function () {
                    console.log('test')
                    gsap.to('#landingAbout', {color: 'red'}) 
z
                 },
                gsapPara: function() {               
                    gsap.to('#MonikaAboutImg', {
                        // scrollTrigger : {
                        //     trigger: '#aboutPageTitle'
                        //     start: 'top bottom',
                        //     end: "center center",
                        //     scrub: true
                        // },
                        // x: 400,
                        // rotation: 360,
                        // duration: 3 
                        
                        scrollTrigger: {
                            trigger: '#MonikaAboutImg',
                            start: "-50 700",
                            end: "center 400",
                            toggleActions: "restart pause none reset",
                            // markers: true,
                            // pin: true,
                            scrub: true,
                
                        },
                            opacity: 1,
                            x: 50,
                        })
                        // gsap.to('#MonikaAboutImg', {
                        //     scrollTrigger: {
                        //         trigger: '#MonikaAboutImg',
                        //         start: "top 300",
                        //         end: "center 250",
                        //         toggleActions: "restart pause none reset",
                        //         markers: true,
                        //         pin: true,
                        //         scrub: true,

                        //     },         
                        //         y: -20,
                        //     })
                },

                pop: function(){
                    console.log('lisa sucks')
                },

                currentSection: function(e, indexP) {
                    let currentPage = window.location.href
                    console.log(currentPage, 'current page')
                    console.log(currentPage + 's', 'type')
                    console.log(e)
                    console.log(e.toString())

                    let idNum = e.toString()
                    console.log(idNum, 'idNum')
                    console.log('#id' + idNum)

                    let domId = '#id' + idNum
                    console.log(domId, 'domId')

                    if (this.isInViewport(cat) == true){
                        alert('cat')
                    }
                    // let x = document.getElementsByClassName('currentEventsTitle')[0].style.color = 'red'

                    // if (currentPage.includes('#id'+ idNum)){
                    //     let lenClass = document.getElementsByClassName('currentEventsTitle').length
                    //     console.log(lenClass)
                    //     console.log('it works')
                    //     document.getElementsByClassName('currentEventsTitle')[indexP].style.color = 'red'
                    //     document.getElementById('section3').style.color = 'red'
                    // }

                    // document.getElementById(el).style.color = 'red'
                },
                mobileDropDownBtn: function () {
                    console.log('derp')
                    document.getElementById('mobileDropDownMenu').style.display = 'flex'
                }
            },

        })
        app.gsapPara()
        // app.currentSection()
        app.log()
        // app.home()

    </script>
</body>

</html>

  